* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: #212121;
}

.invert-image {
  filter: invert(1);
  cursor: pointer;
}

body {
  min-height: 100vh;
  background: #212121;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper {
  display: flex;
  padding: 5px 0;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header-wrapper img {
  border-radius: 100%;
}

.heading {
  margin: 0;
  color: white;
}

.no-message {
  padding: 40px 0;
  color: white;
}
.no-message .icon {
  border-radius: 100%;
}